body {
    font-family: sans-serif;
}

button {
    display: block;
    font-size: 100%;
    min-width: 20%;
    min-height: 5%;
    margin: .5rem;
    padding: .5rem;
}


tbody tr:nth-child(even) {
    background-color: #eee;
}

th {
    padding: .3rem .5rem;
    background-color: #eee;
}

td {
    padding: .3rem .5rem;
}

#test {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#test button {
    position: absolute;
    padding: 0;
    height: 13%;
    width: 48%;
    font-size: 8vh;
}

#test button:nth-child(odd) {
    left: 0;
}

#test button:nth-child(even) {
    right: 0;
}

#test button:nth-child(3),
#test button:nth-child(4) {
    bottom: 0
}

#test img {
    position: absolute;
    margin: auto;
    top: 20%;
    height: 60%;
    width: 100%;
    left: 0;
    right: 0;
    object-fit: contain;
}

@media (max-aspect-ratio: 20/19) {
    #test button {
        left: 0;
        right: 0;
        width: auto;
    }

    #test button:nth-child(2) {
        top: 14%
    }

    #test button:nth-child(3) {
        bottom: 14%
    }

    #test img {
        top: 30%;
        height: 40%;
    }
}

#details img {
    height: 40px
}

.correct {
    color: green;
    font-weight: bold;
}